body {
    background-image: url(https://sites.fas.harvard.edu/~memhall/img/annen2.jpg);
    background-size: cover;
}

#firstYear {
    border: 2px solid black;
}

.studentCard {
    border: 2px solid black;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}

#firstYear {
    background-color: aliceblue;
}